numpy==2.2.6
opencv-python-headless==4.10.0.84
pandas==2.3.3
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.15.3
matplotlib==3.10.9
pillow==12.3.0
joblib==1.6.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0
torchvision==0.25.0
